.wrapper {
  width : 100vw;
}

.wrapper .basket{
  margin: 30vh auto; 
  display: table;
  text-align: center;
}

.wrapper .basket button{
  padding: 1em 2em;
  border-radius: 1em;
  margin : 0.5em;
  font-size: 1.5em;
}  

.wrapper .basket p{
  font-size: 1.5em;
}  

.wrapper .basket .redirect{
  font-size: 4em;
  color : blue
}